RAILS_ENV="production"
RAILS_LOG_TO_STDOUT=1

SIEM_ENABLED="true"
SIEM_SERVICE_NAME="liquidity-request-service"
SIEM_LOG_LEVEL="info"
SIEM_ENVIRONMENT="production"
RAILS_LOG_TO_FILE="false"
DD_TRACE_ENABLED="true"

DD_INSTRUMENTATION_TELEMETRY_ENABLED=false


LIQUIDITY_REQUEST_SERVICE_DATABASE_HOST=""
LIQUIDITY_REQUEST_SERVICE_DATABASE_NAME="liquidity_request_service"
LIQUIDITY_REQUEST_SERVICE_DATABASE_USERNAME="aza_liquidity_request"
LIQUIDITY_REQUEST_SERVICE_DATABASE_PASSWORD=""

